.m__ctaBanner {
  background: $primary;
  padding: 55px 0 47px 0;
  text-align: center;

  @include media-up(m) {
    padding: 75px 67px;
  }

  &.-gradient {
    background: linear-gradient(97.03deg, #29A7DD 0%, #001559 92.23%);
  }

  &__title {
    font-size: 40px;
    font-weight: 400;

    @include media-down(m) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-weight: 400;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .-preview & {
      color: $white !important;
    }
  }

  .btnWrapper {

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}