.m__title {

  .-preview & {
    font-weight: 700;
  }

  &__white {
    color: $white;

    .-preview & {
      color: $white !important;
    }
  }
}

.m_desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.container {

  &__center {
    margin-inline: auto;
  }

  &__short {

    @include media-up(m) {
      max-width: 80%;
    }

    @include media-up(l) {
      max-width: 70%;
    }
  }
}