.m__globalSocialMedia {
  padding: 54px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px 24px;

    span {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      flex-shrink: 0;

      @include media-up(m) {
        font-size: 24px;
        line-height: 33px;
      }
    }

    ul.social {
      justify-content: center;
    }

    img {
      height: 45px; width: 45px;
      object-fit: contain;
    }
  }
}