.m__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;

  @include media-up(m) {
    font-size: 36px;
  }

  @include media-up(l) {
    font-size: 40px;
  }

  @include media-up(xl) {
    font-size: 50px;
    line-height: 55px;
  }

  .-preview & {
    font-weight: 700;
  }

  &__white {
    color: $white;

    .-preview & {
      color: $white !important;
    }
  }
}

.m__desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.titleWrapper {

  &.-center {
    margin-inline: auto;
  }

  &.-short {

    @include media-up(m) {
      max-width: 90%;
    }

    @include media-up(l) {
      max-width: 70%;
    }
  }
}

.m_wyText {

  @include media-only(s) {
    font-size: 16px;
  }

  @include media-up(m) {

    p {
      font-size: 20px;
    }
  }
}

.overlayBg {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  &.-linear {
    background: linear-gradient(90deg, #27A4D9 0%, #032164 46.35%, #DE252B 98.44%) !important;
  }

  & ~ .wrapper {
    position: relative;
  }
}

.site {
  padding-top: 84px;

  @include media-up(xl) {
    padding-top: 85px;
  }

  &.--notification {
    padding-top: 150px;

    @include media-up(xl) {
      padding-top: 157px;
    }
  }
}