.m__graphicFeature {
  padding: 40px 0;

  @include media-up(m) {
    padding: 60px 0;
  }

  &__top {

    @include media-up(m) {
      max-width: 80%;
      margin: 0 auto;
    }

    @include media-up(l) {
      max-width: 65%;
    }

    .-preview & {
      margin: 0 auto;
      max-width: 50%;
    }
  }

  &__bottom {
    text-align: center;
    text-wrap: balance;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &__desc {
      font-weight: 700;
      line-height: 36px;
    }
  }
}