.m__graphicFeature {
  margin: 30px 0;
  padding: 40px 0;

  @include media-up(m) {
    margin: 50px 0;
    padding: 60px 0;
  }

  &.-linear {
    background: linear-gradient(90deg, #27A4D9 0%, #032164 46.35%, #DE252B 98.44%);
  }

  &__top {

    @include media-up(m) {
      max-width: 80%;
      margin: 0 auto;
    }

    @include media-up(l) {
      max-width: 65%;
    }

    .-preview & {
      margin: 0 auto;
      max-width: 50%;
    }
  }

  &__bottom {
    text-align: center;
    text-wrap: balance;
    color: inherit;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &__desc {

      p {
        font-weight: 700;
        line-height: 36px;
      }
    }
  }
}