.m__imagesContentOverlay {
  margin: 80px 0;

  ._w {
    gap: $grid-gutter-width 0;
  }

  &__img {

    @include media-between(m, xl) {
      min-height: calc(60vw / 2);
    }

    @include media-up(xl) {
      min-height: 420px;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      background: 50% / cover no-repeat;
      padding: 80px 0;
      height: 100%;
    }
  }

  &__text {
    width: 100%;
    background: rgba($black, .8);
    color: $white;
    padding: 20px 30px;
  }
}