.m__imgRows {

  .titleWrapper {
    margin: 0 0 15px;

    &.-left {

      .title {
        text-align: left;
        font-size: 40px;
      }
    }

    .title {
      text-align: center;
    }
  }

  ._w {
    gap: 24px 0;
  }

  &__wrapper {

    &__inner {

      &__wrapImg {
        width: 100%;
      }

      &__bgImg {
        max-height: 250px;
        min-height: 250px;
        width: 100%;
        object-fit: cover;

        .-preview & {
          max-width: 100%;
        }
      }

      &__bottom {
        display: flex;
        margin-top: 20px;

        &.title_exist {
          .numb {
            font-size: 26px;
          }
          .content-wrapper {
            margin-top: 1px;
          }
        } 

        .content-wrapper {
          margin-top: -2px;
        }

        .numb {
          flex-shrink: 0;
          display: block;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 700;
          margin-right: 5px;
        }

        .desc {
          font-size: 18px;
          line-height: 1.7;
          font-weight: 700;
        }
      }
    }
  }

  & + .m__wyswyg {
    margin-top: 60px;
  }
}

.m__imgRow__title {
  padding-bottom: 10px;
  font-size: 26px;
  line-height: 1.2em;
}

.m__imgRow__desc {
  font-size: 16px;
  line-height: 1.7em;
}