.m__logoReel {
  padding: 80px 0;

  @include media-up(m) {
    padding: 100px 0;
  }

  &__title,
  &__desc {
    text-align: center;
  }

  &__desc {
    text-wrap: balance;

    &:not(:first-child) {
      margin-top: 25px;

      @include media-up(m) {
        margin-top: 35px;
      }
    }

    @include media-up(l) {
      font-size: 20px;
    }

    @include media-up(xl) {
      font-size: 24px;
    }
  }

  &__label {
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #3dacdd;

    @include media-up(m) {
      font-size: 20px;
    }

    &:not(:first-child) {
      margin-top: 25px;

      @include media-up(m) {
        margin-top: 35px;
      }
    }
  }

  &__logos {

    &:not(:first-child) {
      margin-top: 40px;

      @include media-up(m) {
        margin-top: 50px;
      }
    }

    &__block {

      &__img {
        max-height: 45px; max-width: 155px;
        width: auto; height: auto;

        .-preview & {
          height: 30px;
        }
      }
    }

    .-preview & {
      display: flex;
      justify-content: center;
    }
  }

  .locked {

    .swiper-wrapper {
      justify-content: center;
      align-items: center;
    }
  }

  .swiper-wrapper {
    padding-bottom: 30px;
  }

  .swiper-slide {
    width: auto;
  }
}