.m__ovrContent {
  position: relative;

  &__bgImg {
    background: 50% / contain no-repeat;
    padding-top: 57.65%;
    height: 0;

    @include media-up(m) {
      padding-top: 40.65%;
      max-width: 895px;
      margin: 0 100px 0 auto;
    }
  }

  &__left {
    position: absolute;
    top: 0; left: 24px;
    max-width: 507px;
    background: $white;
    padding: 40px 15px;
  }

  &__right {
    padding: 20px 15px;
    position: absolute;
    bottom: 0; right: 24px;
    max-width: 630px;
    background: $primary;
    color: $white;
  }
}