.m__scText {
  text-align: center;
  margin: 30px 0;
  padding: 30px 0;

  @include media-up(m) {
    margin: 50px 0;
    padding: 50px 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &__title {

    @include media-up(l) {
      font-size: 40px;
      line-height: 55px;
    }
  }

  &__text {
    text-wrap: balance;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  .btnWrapper {

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .btn {
    color: inherit;
    border-color: inherit;

    &:hover {
      background: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}