.m__speakers {
  padding: 40px 0;

  .s_title {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    color: $primary;
  }

  &__list {
    margin-top: 20px;

    @include media-down(l) {
      gap: 23px 0;
    }

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
      gap: 23px 0;
    }

    &__left {

      @include media-up(l) {
        padding-right: 46px;
      }
    }

    &__right {

      @include media-up(l) {
        padding-left: 46px;
      }
    }
  }

  &__speaker {

    .inner {
      display: flex;
      gap: 0 24px;
      background: $white;
      box-shadow: 4px 4px 10px rgba($black, .15);
      border-radius: 20px;
      padding: 24px;
    }

    &__left {
      flex-shrink: 0;

      img {
        max-width: 140px;
        width: 80px; height: 80px;
        object-fit: cover;
        border-radius: 50%;

        @include media-up(l) {
          width: 110px; height: 110px;
        }

        @include media-up(xl) {
          width: 140px; height: 140px;
        }
      }
    }

    &__right {
      padding-top: 5px;
    }

    &__name {
      font-size: 20px;
      line-height: 25px;
      font-weight: 700;
    }

    &__title {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
    }

    &__info {
      margin-top: 5px;
      line-height: 24px;

      p {
        font-size: 16px;
      }
    }
  }
}