.m__statistic {
  background: linear-gradient(90deg, #27A4D9 0%, #032164 46.35%, #DE252B 98.44%);
  // margin: 50px 0; 
  color: $white;

  // @include media-up(m) {
  //   margin: 100px 0;
  // }

  .-preview & {
    margin: 0;
  }

  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-up(m) {
      padding-top: 75px;
      padding-bottom: 0;
    }
  }

  &__top{

    &__title {

      @include media-down(xs) {
        font-size: 30px;
      }
    }
  }

  &__bot {

    &__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      align-items: flex-end;

      @include media-up(m) {
        flex-direction: row;
        align-items: center;
      }

      .-preview & {
        top: 15px;
      }

      &__numb {
        margin-bottom: -12px;
        line-height: 220px;
        font-size: 260px;
        position: relative;
        font-size: 100px;
        line-height: 1;
        font-weight: 700;
        white-space: nowrap;

        @include media-up(xs) {
          font-size: 130px;
        }

        @include media-up(m) {
          font-size: 160px;
          // top: 40px;
          // align-self: flex-end;
          // margin-top: -80px;
        }

        @include media-up(l) {
          font-size: 200px;
          // top: 55px;
        }

        @include media-up(xl) {
          font-size: 300px;
          // top: 75px;
        }

        .-preview & {
          font-size: 100px;
          top: 0;
        }
      }

      &__desc {
        padding: 0px 0px 24px 24px;
        font-weight: 400;
        font-size: 28px !important;
        line-height: 1.4;

        @include media-up(m) {
          order: 1;
          padding-left: 40px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          font-size: 30px;

          &:not(:first-child) {
            margin-top: 0;
          }
        }

        @include media-up(l) {
          font-size: 36px;
        }
      }
    }
  }

  &.-aboveText {

    .inner {
      padding: 30px 0;
    }

    .numb {
      position: relative;
      font-size: 100px;
      line-height: 1;
      font-weight: 700;
      white-space: nowrap;

      @include media-up(xs) {
        font-size: 130px;
      }

      @include media-up(m) {
        font-size: 200px;
      }

      @include media-up(xl) {
        font-size: 300px;
      }

      .-preview & {
        font-size: 100px;
        top: 0;
      }
    }

    .text {

      &:not(:first-child) {

        @include media-up(l) {
          margin-top: -10px;
        }

        @include media-up(xl) {
          margin-top: -30px;
        }
      }
    }

    .desc {
      font-size: 26px;
      line-height: 1.2;
      padding: 0;
      font-weight: 700;

      @include media-up(l) {
        font-size: 36px;
      }
    }

    .label {
      font-size: 16px;
      line-height: 1.2;

      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
}