.m__testimonial {
  background: $bg-gray;
  padding: 50px 0;

  @include media-up(l) {
    padding: 90px 0;
  }

  &__quote_img {
    width: 40px;
    position: absolute;
    top: -20px; left: 0;
    pointer-events: none;
    object-fit: contain;

    @include media-up(m) {
      width: 50px;
    }

    @include media-up(l) {
      width: 90px;
    }
  }

  .testimonial {
    position: relative;

    @include media-up(l) {
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    padding-top: 80px;

    @include media-up(l) {
      padding-left: 140px;
      padding-top: 0;
    }
  }

  &__quote {
    font-size: 20px;   

    @include media-up(m) {
      font-size: 24px;
      line-height: 36px;
    }

    .-preview & {
      font-size: 24px;
    }
  }

  .authorWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    >img {
      max-width: 80px;
      margin-right: 20px;
    }

    &:not(:first-child) {
      margin-top: 20px;

      @include media-up(m) {
        margin-top: 30px;
      }
    }

    h4 {
      font-size: 18px;
      line-height: 24px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    .author {
      margin-right: 10px;
    }
  }

  svg {
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;

    @include media-down(l) {
      width: 74px;
      height: 57px;
    }
  }
}