.m__testimonial {
  background: $bg-gray;
  padding: 50px 0;

  @include media-up(l) {
    padding: 90px 0;
  }

  .testimonial {
    position: relative;

    @include media-up(l) {
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    padding-top: 80px;

    @include media-up(l) {
      padding-left: 140px;
      padding-top: 0;
    }
  }

  &__quote {
    font-size: 20px;

    @include media-up(m) {
      font-size: 34px;
      line-height: 45px;
    }

    @include media-up(l) {
      font-size: 38px;
      line-height: 55px;
    }

    .-preview & {
      font-size: 24px;
    }
  }

  &__author {

    &:not(:first-child) {
      margin-top: 20px;

      @include media-up(m) {
        margin-top: 30px;
      }
    }
  }

  svg {
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;

    @include media-down(l) {
      width: 74px;
      height: 57px;
    }
  }
}