.m__twoColumns {
  position: relative;
  margin: 30px 0;
  padding: 50px 0;

  @include media-up(m) {
    margin: 50px 0;
    padding: 90px 0;
  }

  &.-linear {
    background: linear-gradient(90deg, #27A4D9 0%, #032164 46.35%, #DE252B 98.44%) !important;
  }

  &.-bgVideo {

    .bgVideoActive {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      pointer-events: none;
      overflow: hidden;
    }
  }

  &__sTitle {
    text-align: center;
    margin-bottom: 30px;
    line-height: 26px;

    @include media-up(m) {
      margin-bottom: 45px;
    }

    .-preview & {
      font-weight: 700;
      margin-bottom: 30px;
    }
  }

  &__left {

    &__inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    &__labelAbove {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
    }

    &__title {
      font-size: 26px;

      @include media-up(m) {
        font-size: 32px;
      }

      @include media-up(l) {
        font-size: 40px;
        line-height: 50px;
      }
    }

    &__subtitle {
      font-size: 16px;
      line-height: 24px;

      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    &__btnWrapper {

      &:not(:first-child) {
        margin-top: 25px;
      }
    }
  }

  &__right {

    &__inner  {
      margin-top: 30px;

      @include media-up(m) {
        margin-top: 50px;
      }

      @include media-up(l) {
        margin-top: 0;
      }
    }

    .m__dynamicMedia {

      .-preview & {
        height: 100%;
      }

      &__wrapImg {

        .-preview & {
          height: 100%;
        }

        &__bgImg {

          .-preview & {
            background: 50% / contain no-repeat #fafafa;
            height: 100%;
          }
        }
      }
    }
  }

  .btn {
    color: inherit;
    border-color: inherit;
  }
}