.m__wyswyg {

  li {
    font-size: 16px;
    line-height: 38px;
  }

  h2 {
    margin-bottom: 10px;

    @include media-up(m) {
      font-size: 24px;
    }

    @include media-up(l) {
      font-size: 28px;
    };

    @include media-up(xl) {
      font-size: 30px;
    };
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  a {
    color: inherit;

    &:hover {
      opacity: .6;
    }
  }
}