@import '_utils/functions';

@import 'vars';

@import 'mixins';

@import 'base';

@import 'vendor';

@import 'components';

@import '_blocks';

.post_title {
    margin-top: 20px;    
    font-size: 18px;

    a {
        color: #001559;
        text-decoration: none;
    }
}

p + ul {
    margin-top: 16px;
}

.site__header .site__navigation li:first-child>.-submenu .menu-item-has-children>a,
.site__header .site__navigation li:nth-child(3)>.-submenu .menu-item-has-children>a {
    pointer-events: none;
    font-weight: 700;
}

.site__header .btn.-dark:hover {
    color: #fff;
    background-color: #27A4D9;
    border-color: #27A4D9;
}

@include media-down(xl) {
    .site__header {
        .-dark, .-outline {
            display: none;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    margin: 150px 0 50px;
    justify-content: center;
    list-style: none;

    .dots {
        pointer-events: none;
    }

    >li {
        padding: 4px 15px;
        border-radius: 20px;
        transition: all .3s;

        a {
            transition: color .3s;
        }

        &.current {
            background-color: $primary;
            color: #fff;
            
        }

        &:not(.dots):hover {
            background-color: $primary;
            a {color: #fff;}
        }
    }

    a {
        text-decoration: none;
    }
}

.post__content {
    margin-bottom: 60px;
}