{% set conclusion       = post.conclusion %}
{% set reference       = post.reference %}

<section class="con__report">
    <div class="wrapper">
        <h3 class="report__heading">Conclusion</h3>
        <div>
            {{ conclusion }}
        </div>    
    </div>
</section>

<section class="ref__report">
    <div class="wrapper">
        <h3 class="report__heading">Reference</h3>
        <div>
            {{ reference }}
        </div>    
    </div>
</section>
