{% set hero_type       = block.hero_type %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

<section id="{{ settings.block_id }}" class="m__hero -{{ hero_type }}">
  {% include '_partials/_blocks/_hero/' ~ hero_type ~ '.twig' %}
  {% if not is_preview %}
    {{ settings.styles | raw }}
  {% endif %}
</section>