{% set title        = block.title %}
{% set form_code = block.newsletter_form %}

<section id="{{ settings.block_id }}" class="m__newsletter">
    <style>
        .m__newsletter .hs_submit {
            margin-top: 16px;
        }
        .m__newsletter .hs_submit .hs-button {
            padding: .6em 2em;
        } 
        .m__newsletter .input .hs-input {
            padding: 6px 12px;
            border: 2px solid #001559;
            font-size: 20px;
        }
        .m__newsletter .hs-error-msgs label {
            line-height: 26px;
            font-size: 16px;
        }
    </style>
    <div class="wrapper">
        <div class="container" style="display: flex;">
            <div class="m__columns__column _m6">
              <div class="m__columns__column__inner" style="padding: 16px;">
                <h2>{{title}}</h2>
              </div>
            </div>
            <div class="m__columns__column _m6">
              {{form_code}}
            </div>
        </div>
    </div>
</section>