{% set aboveText = block.above_text %}

{% if not is_preview %}
  {#  {{ dump(settings) }}#}
{% endif %}

<section id="{{ settings.block_id }}" class="m__statistic{{ aboveText ? ' -aboveText' }}">
    {% if aboveText %}
        {% include '_partials/_blocks/_parts/_statistic-feature/statistic_feature_secondStyle.twig' with {
            block: block
        } %}
    {% else %}
        {% include '_partials/_blocks/_parts/_statistic-feature/statistic_feature_firstStyle.twig' with {
            block: block
        } %}
    {% endif %}
    {% if not is_preview %}
        {{ settings.styles | raw }}
    {% endif %}
</section>