{% extends "_components/_tease/_tease.twig" %}

{% block content %}
  {% if post.thumbnail.src %}
  <div>
    <a href="{{ url }}"><img src="{{ post.thumbnail.src }}" /></a>
  </div>
  {% endif %}
  <h2 class="post_title">
    {{ title }}
  </h2>
  {# <p>{{ post.excerpt({ words: 5, read_more: "Keep reading" }) }}</p> #}
{% endblock %}