{% extends "_components/_tease/_tease.twig" %}

{% block content %}
  {% if post.thumbnail.src %}
    <img src="{{ post.thumbnail.src }}" />
  {% endif %}
  <h2 class="post_title">
    <a href="{{ url }}">{{ title }}</a>
  </h2>
  {# <p>{{ post.excerpt({ words: 5, read_more: "Keep reading" }) }}</p> #}
{% endblock %}