@font-face {
    font-family: 'Soleil';
    src: url('../fonts/Soleil/Soleil-Light.otf') format('opentype');
        // url('../fonts/Soleil/Soleil-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Soleil';
//     src: url('../fonts/Soleil/Soleil-Book.woff2') format('woff2');
//         // url('../fonts/Soleil/Soleil-Book.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Soleil';
    src: url('../fonts/Soleil/Soleil-Regular.otf') format('opentype');
        // url('../fonts/Soleil/Soleil-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soleil';
    src: url('../fonts/Soleil/Soleil-Semibold.otf') format('opentype');
        // url('../fonts/Soleil/Soleil-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soleil';
    src: url('../fonts/Soleil/Soleil-Bold.otf') format('opentype');
        // url('../fonts/Soleil/Soleil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
