body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;

  &.-menuOpen {
    overflow: hidden;
  }

  .site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
}

svg {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
}

.nobreak {
  white-space: nowrap;
}

._pr {
  position: relative;
}

.no-list {
  list-style: none;
  margin: 0; padding: 0;

  &.hs-error-msgs {
    margin: 0 0 20px;

    li {
      font-size: 12px;
      line-height: 14px;

      label {
        display: block;
        margin-right: 20px;
      }
    }
  }
}