.grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr));
}

.grid {
    display: grid;
}

@include media-up(m) {
    .grid-md-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr));;
    }
}

@include media-up(l) {
    .grid-lg-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr));;
    }
    .grid-lg-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr));;
    }
}

@include media-up(xl) {
    .grid-xl-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr));;
    }
    .grid-xl-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr));;
    }
}