body {
  font-family: 'Soleil', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;

  @include media-up(m) {
    font-size: 36px;
  }

  @include media-up(l) {
    font-size: 40px;
  }

  @include media-up(xl) {
    font-size: 50px;
    line-height: 55px;
  }
}

h2 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;

  @include media-up(m) {
    font-size: 20px;
  }

  @include media-up(l) {
    font-size: 24px;
  }

  @include media-up(xl) {
    font-size: 28px;
  }
}

h3 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;

  @include media-up(m) {
    font-size: 20px;
  }

  @include media-up(l) {
    font-size: 24px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;

  @include media-up(l) {
    font-size: 20px;
    line-height: 50px;
  }
}

h5,
h6 {

}

p {

  &:where(p) {
    margin: 0 0 1em;
  }

  &:where(:only-of-type) {
    text-wrap: balance;
  }

  &:where(p:last-of-type) {
    margin-bottom: 0;
  }
}

a {

}

ul,
ol {

}

blockquote {

}