{% set content = post.content %}

<div class="post__content">
  <section class="m__wyswyg">
    <div class="wrapper -limit">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </section>
</div>