$notice-bg-color: #f0f7fb;
$notice-color: #3498db;

$warning-bg-color: #fcf7f2;
$warning-color: #e74c3c;

$tip-bg-color: #fffbea;
$tip-color: #f1c40f;

$example-bg-color: #e7f6f0;
$example-color: #2ecc71;