.btn {
  display: inline-block;
  padding: 14px 32px;
  border: 2px solid $white;
  font-size: 16px;
  color: $white;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;

  &:hover {
    background: $white;
    color: $text-color-primary;
  }

  &__black,
  &.-black {
    border-color: $primary;
    color: $text-color-primary;

    &:hover {
      background: $primary;
      color: $white;
    }
  }

  &.-dark {
    background: $primary;
    color: $white;

    &:hover {
      background: transparent;
      color: $primary;
    }
  }

  &.-simpleLink {
    background: $white;
    color: $primary;
    border: none;
    text-decoration: underline;
    padding: 0;

    &:hover {
      color: rgba(#001559, .8);
    }
  }
}