.btn {
  display: inline-block;
  padding: 14px 32px;
  border: 2px solid $white;
  font-size: 16px;
  line-height: 18px;
  color: $primary;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: .2s;

  &:hover {
    background: $white;
    color: $text-color-primary;
  }

  &.-outline,
  &.-black {
    border-color: $primary;
    background: $white;
    color: $primary;

    &:hover {
      background: $primary;
      color: $white;
    }

    &.-light {
      border-color: $white;
      background: transparent;
      color: $white;

      &:hover {
        background: $white;
        color: $primary;
      }
    }
  }

  &.-dark {
    background: $primary;
    color: $white;
    border-color: transparent;

    &:hover {
      background: $light_blue;
      color: $white;
      border-color: $light_blue;
    }

    .btnWrapper &:hover {
      color: $white;
      border-color: $light_blue;
      background: $light_blue;
    }
  }

  &.-simpleLink {
    background: transparent;
    color: $text-color-primary;
    border: none;
    text-decoration: underline;
    padding: 0;
    line-height: 1.7;

    &:hover {
      color: rgba(#001559, .7) !important;
      background: none !important;
    }
  }

  &.-lightBlue {
    &:hover {
      background: $light_blue;
      color: $white;
      border-color: $light_blue;
    }
  }
}