.btn {
  display: inline-block;
  padding: 14px 32px;
  border: solid 1px $white;
  font-size: 16px;
  color: $white;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;

  &:hover {
    background: $white;
    color: $primary;
  }

  &__black {
    border-color: $primary;
    color: $primary;

    &:hover {
      background: $primary;
      color: $white;
    }
  }
}