.m__dynamicMedia {
  position: relative;

  &__video {
    margin-top: 30px;

    &.-background {
      position: absolute;
      left: 0; top: 0; right: 0; bottom: 0;
      margin: 0;

      & > .plyr {
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0;
      }
    }

    @include media-up(m) {
      margin-top: 50px;
    }
  }

  &.-background {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
  }
}

.m__graphicFeature {

  .m__dynamicMedia__wrapImg{
    max-width: 80%;
    margin: 0 auto;

    &__bgImg {
      padding-top: 52.03%;
    }
  }

  .m__dynamicMedia__video {
    max-width: 80%;
    margin: 0 auto;
  }
}