$breakpoint: xl;

.site__navigation {
  .-submenu a {
    padding: 10px 20px;
    -webkit-text-stroke: 0.5px transparent;
    background-color: transparent;
    transition: all .4s;

    &:hover {
      background-color: $primary;
      -webkit-text-stroke-color: $primary;
      color: #fff !important;
    }
  }

  .-submenu .-submenu a {
    padding-left: 40px;
  }

  >.menu-item>.-submenu { 
    width: 300px !important;
    border-top: 3px solid transparent; 

    
  }
  

  @include media-up($breakpoint) {
    min-height: 80px;
  }

  display: flex;

  @include media-down($breakpoint) {
    display: none;
    position: fixed;
    left: 0; top: 117px; right: 0; bottom: 0;
    background: $white;
    padding: 30px;
    overflow: auto;
    z-index: 5;

    &::before {
      position: absolute;
      content: '';
      background: $white;
      bottom: calc(100% - 1px); left: 0; right: 0;
      height: 100px;
    }
  }

  ul.menu:not(.-submenu) {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-down($breakpoint) {
      flex-wrap: wrap;
      gap: 12px 24px;

      li {

        &.current-menu-item {

          & > a {
            text-decoration: underline;
          }
        }
      }

      & > li {

        li {

          &:not(:first-child) {
            margin-top: 5px;
          }
        }

        & > ul {
          padding-left: 10px;
          list-style: none;
          margin: 0;

          & > li {

            & > a {
              font-weight: 600;
            }
          }

          ul {
            padding-left: 10px;
            list-style: none;
            margin: 5px 0 0;
          }
        }
      }
    }

    @include media-up($breakpoint) {
      align-items: center;
      gap: 0;
    }

    a {
      display: block;
      text-decoration: none;
      color: $primary;
      transition: .2s;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }

    li {
      position: relative;

      @include media-down($breakpoint) {
        width: 100%;
      }

      &.btn {
        flex-shrink: 0;
        text-align: center;

        @include media-between(s, $breakpoint) {
          max-width: calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
        }

        a {
          padding: 10px 20px;
          color: inherit;
          transition: 0s;
        }
      }
    }

    & > li {
      border-top: 5px solid transparent;

      >a {
        -webkit-text-stroke: 0.5px transparent;
        transition: all .4s ease-in-out;

        &:hover {
          -webkit-text-stroke: 0.5px #001559;
        }
      }

      &.current-menu-item,
      &.current_page_ancestor {

        & > a {
          font-weight: 700;
        }
      }

      @include media-up(xl) {
        &:hover {
          border-top-color: #27a4d9;
        }
      }
      
      // &.current_page_ancestor {

      //   @include media-up($breakpoint) {
      //     border-top: 5px solid transparent;

      //     &:hover {
      //       border-top-color: $primary;
      //     }
      //   }
      // }

      @include media-up($breakpoint) {

        // &:not(:first-child) {
        //   margin-left: 30px;
        // }

        // &:last-child {
        //   margin-left: 15px;
        // }

        &:not(.btn) {
          padding: 30px 21px 36px;
        }

        &.btn {
          margin-top: 10px;
          margin-bottom: 10px;

          a {
            display: block;
          }
        }

        & > .menu {
          display: none;
          background: $white;
          position: absolute;
          left: 0; top: calc(100% - 6px);
          width: 330px; height: auto;
          padding: 8px 0 5px;
          list-style: none;
          margin: 0;
          z-index: 1;

          & > li {
            font-weight: 700;

            .menu {
              list-style: none;
              margin: 0;
              padding: 0;
              font-weight: 400;
            }
          }

          // li {
          //   margin-top: 10px;
          // }
        }

        &:hover {

          & > .menu {
            display: block;
          }
        }
      }
    }
  }
}