._ptCard {

  // &__title {
  //   margin-top: 20px;
  // }

  &__plch {
    width: 100%;
    object-fit: contain;
    border: 1px solid $bg-gray;
  }

  p {
    margin-bottom: 7px;
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }

  .inner>div {
    margin-bottom: 12px;
  }

  a {
    display: inline-block;
    color: inherit;
    font-size: 16px;
    line-height: 1.7;

    &:hover {
      color: $underline_text_hover;
    }
  }
}