ul.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 12px 24px;
  margin: 0;
  padding: 0;

  @include media-up(m) {
    gap: 12px 34px;
  }

  a {
    transition: .2s;

    &:hover {
      opacity: .8;
    }
  }

  img {
    object-fit: contain;
  }
}