.data__wrapper {
    position: relative;
    background-color: #001559;
    color: #fff;

    .wrapper {
        position: relative;
        z-index: 1;
    }

    p {
        font-size: 16px;
    }

    h2 {
        margin-bottom: 15px;
        font-size: 40px;
        line-height: 1.28;
        font-weight: 400;

        @include media-up(m) {
            font-size: 50px;
        }
    }

    .stick-bg {
        position: fixed;
        left: 0;
        right: 0;
        top: 123px;
        background-repeat: no-repeat;

        img {
            width: 100%;
        }
    }

    .svg-right {
        position: absolute;
        top: -8%;
        right: -10%;
    }

    .svg-left {
        position: absolute;
        left: -12%;
        top: 30%;
    }
}

.report__heading {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}

// Hero Section
.hero__report {
    padding-top: 100px;
    padding-bottom: 50px;

    @include media-up(m) {
        padding-bottom: 70px;
    }

    svg {
        width: 100%;
        margin-top: -15px;
        margin-bottom: -15px;
    }

    &__title, &__date {
        font-weight: 400;
    }

    &__title {
        font-size: 60px;
        line-height: 1;

        @include media-up(m) {
            font-size: 80px;
        }

        @include media-up(xl) {
            font-size: 96px;
        }
    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__date {
        font-size: 24px;
        line-height: 1;
    }
}

// Intro Section
.intro__report {
    border-top: 2px solid #E82629;
    border-bottom: 2px solid #E82629;
    padding-top: 40px;
    padding-bottom: 40px;

    >.wrapper {
      padding: 0;  
    }

    &__data__wrapper {
        margin-top: 30px;

        @include media-down(md) {
            >._m6:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

// Body Section
.content__report {
    padding-top: 50px;
    padding-bottom: 50px;

    &__sub__wrapper {
        margin-top: 60px;
    }

    &__sub__image {
        max-width: 760px;
    } 

    &__wrapper:not(:first-child) {
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid #E82629;
    }

    &__sidebar {
        background: #fff;
        color: #001559;
        padding: 30px;

        @include media-down(m) {
            margin-bottom: 20px;
        }

        @include media-up(m) {
            position: sticky;
            top: 160px;
        }

        &__heading {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 20px;
        }

        &__item:not(:last-child) {
            margin-bottom: 20px;
        }

        &__item {
            span {
                font-size: 14px;
                line-height: 20px;
            }
            
            strong {
                display: block;
            }
        }
    }

    >._w {
        align-items: flex-start;
        margin-right: -48px;
        margin-left: -48px;

        .reports__wrapper {
            padding-right: 40px;
            padding-left: 40px;

            @include media-up(m) {
                padding-right: 80px;
                padding-left: 80px;
            }
        }

        @include media-up(m) {
            ._m4 {
                width: 28%;
            }

            ._m8 {
                width: 72%;
            }
        }

        @include media-up(l) {
            margin-left: -64px;
            margin-right: -64px;
        }

    }
}

// @include min-width(1488px) {
//     .content__report > ._w {
//         margin-left: calc((1360px - 100vw) / 2);
//     }
// }

// Conclusion Section
.con__report, .ref__report {
    padding-top: 45px;
    padding-bottom: 60px;
    border-top: 2px solid #E82629;

    >.wrapper {
        padding: 0;  
    }
}