{% set title           = block.title %}
{% set ctas            = block.ctas %}
{% set bg_image        = block.bg_image %}
{% set bg_image_mobile = block.bg_image_mobile %}

<div class="m__hero__tertiary">
    {% if bg_image %}
        <div class="m__hero__tertiary__imgWrapper">
            <div class="m__hero__tertiary__img" style="background-image: url({{ get_image(bg_image) }})"></div>
        </div>
    {% endif %}
    <div class="wrapper">
        <div class="m__hero__tertiary__bottom">
            <div class="m__hero__tertiary__bottom__inner">
                {% if title %}
                    <h1 class="m_title title">{{ title }}</h1>
                {% endif %}
                {% if ctas %}
                    <div class="m__ctas m__hero__tertiary__bottom__inner__ctas">
                        {% for row in ctas %}
                            {% set link = row.cta %}

                            {% include '_components/_advanced_link.twig' with {
                                link: link,
                                class: '-black'
                            } %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>